.nav-link{
    color: black;
    margin-left: 30px;
    padding-top: 10px;
    font-size: 16px;
    font-family: sans-serif;
}
.nav-link:hover{
    border-bottom: 2px solid blue;
}
#card{
    height: 200px;
     width: 180px;
      border: 1px solid rgb(211, 208, 208);
       border-radius: 5px;
}
#card:hover{
    box-shadow: 2px 2px 2px 5px  rgb(253, 235, 202);
}
#banner{
    background-image: url('img/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;

}
ul li{
    list-style-type: none;
    padding: 5px;
}
ul li a{
    text-decoration: none;
    color: rgb(131, 129, 129);
}